<h2 id="title">Admin</h2>
<li class="list-group-item">
{{#link-to 'admin.new'}}New{{/link-to}}
</li>
<li style="display: none" class="list-group-item">
{{#link-to 'admin.users'}}Users{{/link-to}}
</li>
