<h2>Posts</h2>
<div class="alert alert-success">Bootstrap 3 has been successfully included.</div>
{{#each model}}
  <li class="list-group-item">
    {{#link-to 'post' id}}{{title}}{{/link-to}}
  </li>
{{/each}}
