<h2>Posts</h2>
{{#each model}}
  <li class="list-group-item">
    {{#link-to 'post' id}}{{title}}{{/link-to}}
    <div class="pull-right">
      <button class="btn btn-default" {{action "deleteEntry" this}}>Delete</button>
    </div>
    <br>
    <br>
  </li>
{{/each}}
